<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.day17_02_bcr">

    <!--声明自己定义的权限-->
    <permission android:name="app.permission.p01"></permission>
    <!--使用自己定义的权限-->
    <uses-permission android:name="app.permission.p01"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyAppReceiver01"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="app.action.R01"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MyAppReceiver02"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="app.action.R02"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>